/* The side navigation menu */
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fac935;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: right;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* Change color on mouse-over */
.sideNav a:hover {
  color: #f1f1f1;
}

/* Sidebar buttons (if there are any) */
.sideNav-button {
  text-decoration: none;
  text-align: right;
  height: 60px;
  outline: none;
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

/*  Position and style the close button */
.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Title on the sidebar */
#titleCard {
  display: block;
  padding: 8px
}

/* All Menu card styling */
.menu-card {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 250px;
  /* text-align: right; */
  background-color: antiquewhite;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.menu-card button {
  transition: 0.2s
}

.menu-card button:hover {
  opacity: 0.7;
}

.menu-card h1 {
  display: flex;
  color: #a5a5a5;
  font-size: 70px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 0;
  padding: 0;
}

