body {
    background: #CCC;
}
title {
    font-family: verdana;
    color: #123
}
h1 {
    font-family: verdana;
    color: #123;
    background-color: #aaa;
    border-radius: 25%;
    text-align: center;
}

#pageHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    text-align: center;
}