#keyboardPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 300px;
  min-width: 550px;
  height: 40%;
  width: 97%;
  margin-bottom: 10px;
  background-color: #552905;
  border: 2px solid white;
}

/* Mod Panel */

#modPanel {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 150px;
  height: 75%;
  width: 15%;
  border: 1px dashed black;
  
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 220px;
  min-width: 170px;
  height: 75%;
  width: 100%;
  margin-bottom: 20px;
  background-color: #a5a5a5;
  border: 1px dashed black
}


#pitchBendContainer {
  min-height: 180px;
  min-width: 85px;
  border: 2px dashed darkolivegreen

}

#modWheelContainer {
  min-height: 180px;
  min-width: 85px;
  border: 2px dashed darkolivegreen
}

/*  Name Plate */

#namePlate {
  display: flex;
  font-size: 15px;
  min-height: 60px;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #a5a5a5;
}

#namePlate h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Keyboard */

#keyboard {
  min-height: 300px;
  min-width: 550px;
  height: 90%;
  width: 83%;
  background-color: #a5a5a5;
  border: 1px dashed darkolivegreen
}