#keys {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  min-width: 550px;
  height: 98%;
  width: 95.5%;
  background-color: rgb(75, 75, 75);
}

.cToE {
  position: relative;
}
.white {
  display: flex;
  flex-direction: row;
}

.cToEWhite {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 300px;
  min-width: 50px;
  border: 2px solid black;
  border-radius: 0 0 5px 5px;
  background-color: ivory;
}

.cToEWhite:hover {
  background-color: rgb(222, 217, 201);
}

.black {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 1;
  position: absolute;
  top: 0;
}

.cToEBlack {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 185px;
  min-width: 35px;
  border: 2px solid black;
  border-radius: 0 0 7px 7px;
  background-color: black;
  color: ivory;
  margin: 0 0px 0 28px;
}

.cToEBlack:hover {
  background-color: rgb(81, 80, 80);
}

.fToB {
  position: relative;
}

.fToBWhite {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 300px;
  min-width: 50px;
  border: 2px solid black;
  border-radius: 0 0 5px 5px;
  background-color: ivory;
}

.fToBWhite:hover {
  background-color: rgb(222, 217, 201);
}

.fToBBlack {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 185px;
  min-width: 35px;
  border: 2px solid black;
  border-radius: 0 0 7px 7px;
  background-color: black;
  color: ivory;
  margin: 0 0px 0 25px;
}

.fToBBlack:hover {
  background-color: rgb(81, 80, 80);
}

#octave-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

#octave-buttons label {
  color: ivory;
  font-weight: bold;
}

.octave-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 10px;
}